@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal, input::-ms-clear {
  display: none;
}

.group-label-input:focus-within label
{
    @apply text-primary;
    @apply font-normal;
}

.group-label-input:focus-within svg
{
    @apply fill-primary;
}

.table-head
{
    @apply h-10 px-2 2xl:px-6 border-b border-e border-t text-normal font-normal text-subtitle-color;
}

.table-body
{
    @apply h-10 2xl:h-14 px-2 2xl:px-6 py-2 font-normal text-black;
}

.table-page-button
{
    @apply flex justify-center items-center size-10 shadow-button border rounded-lg;
}

.green-circle
{
    @apply size-3 min-w-3 min-h-3 me-1 2xl:me-2 rounded-full bg-green-500/50 ring-1 ring-inset ring-green-600/20 shadow-sm hover:bg-green-500/80;
}

.yellow-circle
{
    @apply size-3 min-w-3 min-h-3 me-1 2xl:me-2 rounded-full bg-yellow-500/50 ring-1 ring-inset ring-yellow-600/20 shadow-sm hover:bg-yellow-500/80;
}

.stone-circle
{
    @apply size-3 min-w-3 min-h-3 me-1 2xl:me-2 rounded-full bg-stone-500/50 ring-1 ring-inset ring-stone-600/20 shadow-sm hover:bg-stone-500/80;
}

.primary-circle
{
    @apply size-3 min-w-3 min-h-3 me-1 2xl:me-2 rounded-full bg-primary/80 ring-1 ring-inset ring-primary/20 shadow-sm hover:bg-primary;
}

.red-circle
{
    @apply size-3 min-w-3 min-h-3 me-1 2xl:me-2 rounded-full bg-red-500/80 ring-1 ring-inset ring-red-500/20 shadow-sm hover:bg-red-500;
}

.hide-scrollbar {
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid #022266;
    border-radius: 50%;
    animation: custom-spin 1.5s linear infinite;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFCC00;
    animation: prixClipFix 2s linear infinite ;
}

.loading {
    width: 14px;
    height: 14px;
    border: 2px solid #022266;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@keyframes custom-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
