@tailwind base;
@tailwind components;
@tailwind utilities;

.group-label-input:focus-within label
{
    @apply text-primary;
    @apply font-normal;
}

.group-label-input:focus-within svg
{
    @apply fill-primary;
}

.table-head
{
    @apply h-10 px-6 py-2 border-b border-e text-normal font-normal text-subtitle-color;
}

.table-body
{
    @apply h-14 px-6 py-2 font-normal text-black;
}

.table-page-button
{
    @apply flex justify-center items-center size-10 shadow-button border rounded-lg;
}

.green-circle
{
    @apply size-[12px] me-2 rounded-full bg-green-500/50 ring-1 ring-inset ring-green-600/20 shadow-sm hover:bg-green-500/80;
}

.yellow-circle
{
    @apply size-[12px] me-2 rounded-full bg-yellow-500/50 ring-1 ring-inset ring-yellow-600/20 shadow-sm hover:bg-yellow-500/80;
}

.stone-circle
{
    @apply size-[12px] me-2 rounded-full bg-stone-500/50 ring-1 ring-inset ring-stone-600/20 shadow-sm hover:bg-stone-500/80;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1); /* Borda leve ao redor */
    border-top: 5px solid #022266; /* Borda superior com cor */
    border-radius: 50%; /* Faz o spinner circular */
    animation: custom-spin 1s linear infinite; /* Animação de rotação */
}

@keyframes custom-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
